### Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

   1 - Java                                
            
   2 - Java-ML                              
            
   3 - JavaScript                           
            
   4 - Julia  
   
   5 - MongoDB                              
            
   6 - R                                   
            
   7 - SQL                                
            
   8 - Weka

### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

   1 - ggplot2
   
   2 - Lattice
   
   3 - Leaflet
   
   4 - Matplotlib
   
   5 - NumPy
   
   6 - Pandas
   
   7 - TensorFlow

### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|JupyterLab          |
|                    |
|Juypyter notebook   |
|                    |
|Spyder              |

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

### Exercise 8 - Create a code cell to multiply and add numbers

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### Exercise 9 - Create a code cell to convert minutes to hours

In [2]:
# This will convert 200 minutes to hours by diving by 60
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes200
Hours= 3
Minutes= 20

### Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
. Python
. Julia
. Scala

### Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
    Stevy Makoumbou